body{
    text-align: center;
    background-image: url("sbg.jpg");
    background-size: cover;
    color:#d2b22d;
    font-family: "Londrina Sketch", sans-serif;
    font-size:20px;
    letter-spacing:5px;
}

h3{
    color:red;
}
  

.btn{
  height:200px;
  width:200px;
  border-radius:20%;
  border: 10px solid black;
  margin:2.5rem;
}

.btn-container{
    display: flex;
    justify-content:center;
}

.yellow{
    background-color: #f99b45 ;
}

.red{
    background-color: #d95980;
}

.purple{
    background-color: #819ff9;
}

.green{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}